@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 194px;
  background: url(../img/headerbackground.png);
  background-repeat: repeat-x;
  border-bottom: 1px solid #0080ff;
  display: flex;
  justify-content: center;
}
header .headertop {
  width: 1200px;
  height: 191px;
  display: flex;
  justify-content: space-between;
}
header .headertop .headertop-l ul {
  width: 582px;
  height: 38px;
  background-color: #0080ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "맑은 고딕", "Malgun Gothic", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-weight: bold;
}
header .headertop .headertop-l ul li a {
  color: #fff;
  font-size: 14px;
  letter-spacing: -1px;
}
header .headertop .headertop-r ul {
  width: 280px;
  height: 32px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  font-family: "돋움", Dotum, Helvetica, AppleSDGothicNeo, sans-serif;
  align-items: center;
}
header .headertop .headertop-r ul li a {
  color: #fff;
  font-size: 11px;
}
header .headerbottom h2 {
  width: 110px;
  height: 43px;
  background-color: #0080ff;
  position: absolute;
  top: 15.6%;
  left: 18.5%;
  font-size: 13px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
}
header .headerbottom h2 a {
  position: relative;
  top: 12px;
  color: white;
}
header .headerbottom ul {
  display: flex;
  position: absolute;
  top: 16.9%;
  left: 24.7%;
  font-size: 13px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
}
header .headerbottom ul li a {
  color: #0080ff;
  margin: 0px 5px;
  font-weight: bold;
}
header .headerbottom h5 {
  position: absolute;
  top: 16.9%;
  left: 38.6%;
  font-size: 11px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
  color: #ccc;
}
header .headerbottom .ultwo {
  display: flex;
  position: absolute;
  top: 16.9%;
  left: 39.1%;
  font-size: 13px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
}
header .headerbottom .ultwo li a {
  color: #000;
  margin: 0px 5px;
}
header .headerbottom .ulthree {
  display: flex;
  position: absolute;
  top: 16.9%;
  left: 62.2%;
  font-size: 13px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
}
header .headerbottom .ulthree li a {
  color: #666;
  font-weight: lighter;
  margin: 0px 5px;
}
header .logo {
  width: 265px;
  height: 103px;
  position: relative;
  top: 0;
  left: 0;
  position: absolute;
  top: 4.2%;
  left: 18.8%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
header .logo a {
  width: 265px;
  height: 103px;
  position: relative;
  top: 0;
  left: 0;
  position: absolute;
  top: 4.2%;
  left: 18.8%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
header .search {
  width: 505px;
  height: 48px;
  position: absolute;
  top: 7.2%;
  left: 33%;
  border: 2px solid #0080ff;
  border-radius: 3px;
  overflow: hidden;
}
header .search input {
  width: 430px;
  height: 48px;
  border: none;
  margin: 0 0 0 17px;
  font-size: 18px;
  color: #000;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-weight: bold;
}
header .search input:focus {
  outline: none;
}
header .search button {
  width: 60px;
  height: 48px;
  background: url(https://image.yes24.com/sysimage/renew/gnb/gnbN4.png?ver=161201b);
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  cursor: pointer;
}
header .headerslide {
  width: 180px;
  height: 112px;
  position: absolute;
  top: 3.9%;
  right: 18.7%;
  overflow: hidden;
}
header .headerslide span {
  position: absolute;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
  font-weight: bold;
  left: 40%;
  top: 40%;
}
header .headerslide img {
  width: 60px;
  height: 85px;
  position: absolute;
  top: 10%;
}

footer {
  width: 100%;
  height: 337px;
  background-color: #dfdfdf;
  border-top: solid 1px #cbcbcb;
  overflow: hidden;
}
footer .footerwrap {
  width: 100%;
  margin: 0 auto;
  height: 43px;
  align-items: center;
  border-bottom: solid 1px #cbcbcb;
}
footer .footerwrap select {
  width: 100px;
  height: 24px;
  font-size: 11px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
  background-color: #eaeaea;
  border: 1px solid #c1c1c1;
  background-color: #eaeaea;
  background-repeat: no-repeat;
  background-position: 100% center;
  position: absolute;
  top: 23%;
  right: 25.5%;
  color: #666;
  border-radius: 3px;
}
footer .footerwrap select:focus {
  border: 1px solid #c1c1c1;
  outline: none;
}
footer .ulli {
  width: 960px;
  height: 43px;
  position: relative;
  margin: 0 auto;
}
footer .ulli ul {
  display: flex;
}
footer .ulli li {
  margin-top: 10px;
}
footer .ulli li span {
  font-size: 8px;
  margin: 0 6px;
}
footer .ulli a {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
}
footer .ulli a b {
  color: #333;
}
footer .ulli a:hover {
  text-decoration: underline;
}
footer .ulli:nth-of-type(2) {
  width: 50px;
  position: absolute;
  top: -1%;
  right: 27%;
}
footer .ulli:nth-of-type(2) ul li a img {
  position: relative;
  left: -132px;
  margin: 0 -3px;
}
footer .footerline {
  width: 100%;
  height: 43px;
  background-color: #dfdfdf;
  position: relative;
}
footer .footerline .footer-2 {
  width: 960px;
  height: 148px;
  margin: 0 auto;
  position: relative;
  top: 3%;
}
footer .footerline .footer-2 .footertexttwo {
  position: absolute;
  width: 400px;
  position: absolute;
  right: -10%;
  top: 13%;
}
footer .footerline .footer-2 .footertexttwo .buttonbox {
  position: absolute;
  top: 75px;
  left: -1px;
}
footer .footerline .footer-2 .footertexttwo h4 {
  letter-spacing: 5px;
}
footer .footerline .footer-2 .footertexttwo ul {
  display: flex;
}
footer .footerline .footer-2 .footertexttwo li {
  color: #666;
  line-height: 20px;
  margin: 0 5px;
  position: relative;
  right: 1.3%;
}
footer .footerline .footer-2 .footertexttwo span {
  font-size: 12px;
  color: #333;
  font-weight: bold;
}
footer .footerline .footer-2 .footertexttwo span:hover {
  text-decoration: underline;
}
footer .footerline .footer-2 .footertexttwo button {
  width: 88px;
  height: 22px;
  font-size: 11px;
  color: #666;
  background-color: #f8f8f8;
  border-radius: 2px;
  border: 1px solid #cacaca;
  cursor: pointer;
}
footer .footerline .footer-2 .footertexttwo button:hover {
  background-color: #d8d8d8;
}
footer .footerline .footer-2 .footertext {
  width: 418px;
  position: absolute;
  top: 23px;
  left: 158px;
  line-height: 18px;
}
footer .footerline .footer-2 img {
  position: absolute;
  top: 5%;
}
footer .footerline .footer-2 h4 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #999;
  position: relative;
  top: -7px;
  font-size: 14px;
  font-weight: bold;
}
footer .footerline .footer-2 ul {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 11px;
  color: #999;
}
footer .footerline .footer-2 ul span a {
  color: #666;
  font-weight: bold;
}
footer .footerline .footer-2 a:hover {
  text-decoration: underline;
}
footer .footerline .footer-3 {
  width: 960px;
  height: 88px;
  margin: 0 auto;
  position: relative;
  top: 3%;
  background: url(/img/footerlogo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
footer .footerline .footer-4 {
  width: 960px;
  height: 57px;
  margin: 0 auto;
  position: relative;
  top: 3%;
  display: flex;
  align-items: center;
}
footer .footerline .footer-4 h6 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}
footer .footerline .footer-4 p {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  margin: 0 6px;
}
footer .footerline .footer-4 span a {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 11px;
  position: absolute;
  top: 36%;
  right: 4%;
  color: #666;
  font-weight: bold;
}
footer .footerline .footer-4 span a:hover {
  text-decoration: underline;
}

body {
  background-color: #f8f8f8;
}

header {
  width: 100%;
  height: 194px;
  background: url(../img/headerbackground.png);
  background-repeat: repeat-x;
  border-bottom: 1px solid #0080ff;
  display: flex;
  justify-content: center;
}
header .headertop {
  width: 1200px;
  height: 191px;
  display: flex;
  justify-content: space-between;
}
header .headertop .headertop-l ul {
  width: 582px;
  height: 38px;
  background-color: #0080ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "맑은 고딕", "Malgun Gothic", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-weight: bold;
}
header .headertop .headertop-l ul li a {
  color: #fff;
  font-size: 14px;
  letter-spacing: -1px;
}
header .headertop .headertop-r ul {
  width: 280px;
  height: 32px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  font-family: "돋움", Dotum, Helvetica, AppleSDGothicNeo, sans-serif;
  align-items: center;
}
header .headertop .headertop-r ul li a {
  color: #fff;
  font-size: 11px;
}
header .headerbottom h2 {
  width: 110px;
  height: 43px;
  background-color: #0080ff;
  position: absolute;
  top: 15.6%;
  left: 18.5%;
  font-size: 13px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
}
header .headerbottom h2 a {
  position: relative;
  top: 12px;
  color: white;
}
header .headerbottom ul {
  display: flex;
  position: absolute;
  top: 16.9%;
  left: 24.7%;
  font-size: 13px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
}
header .headerbottom ul li a {
  color: #0080ff;
  margin: 0px 5px;
  font-weight: bold;
}
header .headerbottom h5 {
  position: absolute;
  top: 16.9%;
  left: 38.6%;
  font-size: 11px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
  color: #ccc;
}
header .headerbottom .ultwo {
  display: flex;
  position: absolute;
  top: 16.9%;
  left: 39.1%;
  font-size: 13px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
}
header .headerbottom .ultwo li a {
  color: #000;
  margin: 0px 5px;
}
header .headerbottom .ulthree {
  display: flex;
  position: absolute;
  top: 16.9%;
  left: 62.2%;
  font-size: 13px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
}
header .headerbottom .ulthree li a {
  color: #666;
  font-weight: lighter;
  margin: 0px 5px;
}
header .logo {
  width: 265px;
  height: 103px;
  position: relative;
  top: 0;
  left: 0;
  position: absolute;
  top: 4.2%;
  left: 18.8%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
header .logo a a {
  width: 265px;
  height: 103px;
  position: relative;
  top: 0;
  left: 0;
  position: absolute;
  top: 4.2%;
  left: 18.8%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
header .search {
  width: 505px;
  height: 48px;
  position: absolute;
  top: 7.2%;
  left: 33%;
  border: 2px solid #0080ff;
  border-radius: 3px;
  overflow: hidden;
}
header .search input {
  width: 430px;
  height: 48px;
  border: none;
  margin: 0 0 0 17px;
  font-size: 18px;
  color: #000;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-weight: bold;
}
header .search input:focus {
  outline: none;
}
header .search button {
  width: 60px;
  height: 48px;
  background: url(https://image.yes24.com/sysimage/renew/gnb/gnbN4.png?ver=161201b);
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  cursor: pointer;
}
header .headerslide {
  width: 180px;
  height: 112px;
  position: absolute;
  top: 3.9%;
  right: 18.7%;
  overflow: hidden;
}
header .headerslide span {
  position: absolute;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
  font-weight: bold;
  left: 40%;
  top: 40%;
}
header .headerslide img {
  width: 60px;
  height: 85px;
  position: absolute;
  top: 10%;
}

.contentwrap {
  width: 1200px;
  height: 3900px;
  background-color: #f8f8f8;
  margin: 0 auto;
  position: relative;
  top: 15%;
}
.contentwrap .section-1 {
  position: relative;
  width: 1200px;
  height: 423px;
  background-color: #f8f8f8;
  border: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  top: 0.4%;
  overflow: hidden;
}
.contentwrap .section-1 .textbox {
  width: 130px;
  height: 422px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 9%;
  z-index: 1;
  border: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.contentwrap .section-1 .textbox ul {
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  margin: 0 15px;
}
.contentwrap .section-1 .textbox ul a {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
}
.contentwrap .section-1 .textbox ul span {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 13px;
  color: #ccc;
}
.contentwrap .section-1 .leftsidebar {
  width: 109px;
  height: 422px;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid #d8d8d8;
  text-align: left;
}
.contentwrap .section-1 .leftsidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 2%;
}
.contentwrap .section-1 .leftsidebar a {
  color: #000;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  margin: 0px 15px;
}
.contentwrap .section-1 .leftsidebar li {
  line-height: 40px;
}
.contentwrap .section-1 .leftsidebar li:hover {
  width: 109px;
  height: 40px;
  background-color: #0080ff;
  position: relative;
}
.contentwrap .section-1 .leftsidebar li:hover a {
  color: #fff;
}
.contentwrap .section-1 .imgbannerslide {
  width: 1090px;
  height: 425px;
  position: absolute;
  top: 0;
  left: 9.2%;
  overflow: hidden;
}
.contentwrap .section-1 .imgbannerslide .slidewrap span {
  position: absolute;
  top: 45%;
  display: block;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  background: rgba(51, 51, 51, 0.4);
  cursor: pointer;
  height: 50px;
  transform: translateY(-50%);
  text-align: center;
  display: none;
}
.contentwrap .section-1 .imgbannerslide .slidewrap span:hover {
  background-color: #333;
  color: #fff;
}
.contentwrap .section-1 .imgbannerslide .slidewrap .prev {
  left: 0;
  width: 34px;
  height: 38px;
  text-align: center;
  letter-spacing: 6px;
  background-image: url(/img/icon.png);
}
.contentwrap .section-1 .imgbannerslide .slidewrap .next {
  right: 0;
  width: 34px;
  height: 38px;
  letter-spacing: -5px;
  background-image: url(/img/icon.png);
  transform: rotate(180deg);
  position: absolute;
  top: 40%;
}
.contentwrap .section-1 .imgbannerslide .slidewrap .slide {
  width: 4360px;
}
.contentwrap .section-1 .imgbannerslide .slidewrap .slide li {
  width: 1090px;
  height: 425px;
  float: left;
}
.contentwrap .section-1 .imgbannerslide .slidewrap .slide li img {
  width: 100%;
  height: 100%;
}
.contentwrap .section-1 .imgbannerslide .bottom-hover {
  display: flex;
  position: absolute;
  top: 90%;
  text-align: center;
}
.contentwrap .section-1 .imgbannerslide .bottom-hover .hover-1.active {
  background-color: #333;
}
.contentwrap .section-1 .imgbannerslide .bottom-hover .hover-1.active a {
  color: #fff;
}
.contentwrap .section-1 .imgbannerslide .bottom-hover .hover-1 {
  width: 272px;
  height: 40px;
  background-color: #f8f8f8;
  margin: 0px 1px;
  position: relative;
  left: -0.1%;
}
.contentwrap .section-1 .imgbannerslide .bottom-hover .hover-1 h2 a {
  font-size: 12px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #666;
  text-align: center;
}
.contentwrap .section-2 {
  position: relative;
  width: 1200px;
  height: 389px;
  background-color: #f8f8f8;
  top: 0.9%;
  overflow: hidden;
}
.contentwrap .section-2 .search {
  display: flex;
  position: absolute;
  top: 20%;
  line-height: 30px;
  right: 10.8%;
  z-index: 1;
}
.contentwrap .section-2 .search ul {
  display: flex;
  flex-direction: column;
}
.contentwrap .section-2 .search ul li {
  font-size: 12px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
}
.contentwrap .section-2 .search ul span {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 11px;
  width: 13px;
  height: 13px;
  background-color: #6699cc;
  color: #fff;
}
.contentwrap .section-2 .search li:hover {
  text-decoration: underline;
}
.contentwrap .section-2 .lank {
  width: 240px;
  height: 388px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.contentwrap .section-2 .lank ul {
  display: flex;
}
.contentwrap .section-2 .lank ul li {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 30px;
  background-color: white;
  border-top: 1px solid #d8d8d8;
}
.contentwrap .section-2 .lank ul li a {
  font-size: 12px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  position: absolute;
  top: 2%;
  color: #333;
  font-weight: bold;
}
.contentwrap .section-2 .lank ul li:nth-of-type(2) {
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.contentwrap .section-2 .lank select {
  width: 200px;
  height: 22px;
  position: absolute;
  top: 12%;
  left: 8.5%;
  border: 1px solid #d8d8d8;
}
.contentwrap .section-2 .lank select option {
  background-color: #ffffff;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-weight: bold;
}
.contentwrap .section-2 .l-book {
  width: 238px;
  height: 269px;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrap .section-2 .l-book h2 a {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  margin: 20px;
  position: absolute;
  top: 0%;
  color: #000;
}
.contentwrap .section-2 .l-book .imgslide {
  width: 200px;
  height: 153px;
  background-color: red;
  overflow: hidden;
}
.contentwrap .section-2 .l-book .imgslide ul li img {
  width: 101%;
  height: 101%;
}
.contentwrap .section-2 .lbook {
  width: 238px;
  height: 117px;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrap .section-2 .lbook img {
  width: 93%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}
.contentwrap .section-2 .section2book {
  width: 720px;
  height: 400px;
  background-color: #f8f8f8;
  position: absolute;
  top: 0;
  left: 20%;
}
.contentwrap .section-2 .section2book .section2textbox {
  position: absolute;
  top: 6%;
  right: 20%;
}
.contentwrap .section-2 .section2book .section2textbox a {
  color: #333;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
}
.contentwrap .section-2 .section2book .section2textbox p {
  color: #6699cc;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  width: 250px;
  line-height: 20px;
  font-weight: bold;
}
.contentwrap .section-2 .section2book .section2textbox p:nth-of-type(2) {
  color: #999;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.contentwrap .section-2 .section2book .section2textbox p:hover {
  text-decoration: underline;
}
.contentwrap .section-2 .section2book .section2textbox p:nth-of-type(2):hover {
  text-decoration: none;
}
.contentwrap .section-2 .section2book .section2textbox h5 {
  color: #333;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 25px;
}
.contentwrap .section-2 .section2book .section2textbox h5:nth-of-type(2) span {
  color: #333;
  font-size: 12px;
}
.contentwrap .section-2 .section2book .section2textbox h5:hover {
  text-decoration: underline;
}
.contentwrap .section-2 .section2book .section2textbox h6 {
  color: #999;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
}
.contentwrap .section-2 .section2book .section2textbox h5:nth-of-type(2):hover {
  text-decoration: none;
}
.contentwrap .section-2 .section2book .section2slide {
  position: relative;
}
.contentwrap .section-2 .section2book .section2slide .boxsection2book {
  width: 220px;
  height: 320px;
  background-color: #0080ff;
  position: absolute;
  top: 20px;
  left: 13%;
  overflow: hidden;
}
.contentwrap .section-2 .section2book .section2slide .boxsection2book img {
  width: 220px;
  height: 320px;
}
.contentwrap .section-2 .section2book .bar {
  position: absolute;
  left: 9.5%;
  top: 90%;
  z-index: 7;
  width: 700px;
  height: 30px;
  background: url(/img/icon.png) no-repeat -380px -450px;
}
.contentwrap .section-3 {
  position: relative;
  width: 1200px;
  height: 385px;
  background-color: #fff;
  top: 1.4%;
  border: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;
}
.contentwrap .section-3 h3 {
  width: 80px;
  height: 34px;
  margin: 30px;
}
.contentwrap .section-3 h3 a {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}
.contentwrap .section-3 h3 a em {
  width: 10px;
  height: 15px;
  background-image: url(/img/icon4.png);
  position: absolute;
  background-repeat: no-repeat;
  top: 9.69%;
  margin: 0 8px;
  background-size: contain;
}
.contentwrap .section-3 .section3 {
  width: 959px;
  height: 385px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}
.contentwrap .section-3 .section3 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrap .section-3 .section3 .book {
  width: 218px;
  height: 276px;
  float: left;
  text-align: center;
  float: left;
  margin: 0 1px;
  line-height: 22px;
}
.contentwrap .section-3 .section3 .book img {
  cursor: pointer;
}
.contentwrap .section-3 .section3 .book h5 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 13px;
  color: #3a3a3a;
}
.contentwrap .section-3 .section3 .book h4 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 15px;
  color: #3a3a3a;
}
.contentwrap .section-3 .section3-2 {
  width: 238px;
  height: 385px;
  background-color: #ECF5FE;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrap .section-3 .section3-2 h2 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  position: absolute;
  top: 7%;
  left: 14%;
}
.contentwrap .section-3 .section3-2 .adtag {
  position: absolute;
  right: 9px;
  top: 8%;
  width: 13px;
  height: 9px;
  overflow: hidden;
  background: url(/img/icon.png) no-repeat -160px 0;
}
.contentwrap .section-3 .section3-2 ul {
  position: absolute;
  top: 12%;
}
.contentwrap .section-3 .section3-2 ul li {
  height: 140px;
  border-bottom: 1px solid #d2e9ff;
  margin-top: 35px;
}
.contentwrap .section-3 .section3-2 ul li img {
  width: 158px;
  height: 100px;
}
.contentwrap .section-3 .section3-2 ul li:nth-of-type(2) {
  border: none;
}
.contentwrap .section-4 {
  position: relative;
  width: 1200px;
  height: 371px;
  background-color: #fff;
  top: 9.8%;
  border: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.contentwrap .section-4 .section4 {
  width: 958px;
  height: 326px;
  position: absolute;
}
.contentwrap .section-4 .section4 h3 {
  margin: 30px;
  position: absolute;
  top: -7%;
}
.contentwrap .section-4 .section4 h3 a {
  color: #000;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
}
.contentwrap .section-4 .section4 h3 a span {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  color: #425ca9;
}
.contentwrap .section-4 .section4 h3 a em {
  width: 10px;
  height: 15px;
  background-image: url(/img/icon4.png);
  position: absolute;
  background-repeat: no-repeat;
  top: 29.5%;
  margin: 0 8px;
  background-size: contain;
}
.contentwrap .section-4 .section4 ul {
  display: flex;
  justify-content: center;
  position: relative;
  top: 18%;
}
.contentwrap .section-4 .section4 ul .book2 {
  width: 218px;
  height: 276px;
  float: left;
  text-align: center;
  float: left;
  margin: 0 1px;
  line-height: 22px;
}
.contentwrap .section-4 .section4 h5 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 13px;
  color: #3a3a3a;
}
.contentwrap .section-4 .section4 h4 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 15px;
  color: #3a3a3a;
}
.contentwrap .section-4 .section4-2 {
  width: 241.1px;
  height: 371px;
  background-color: red;
  position: absolute;
  right: 0;
  background: url(/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrap .section-4 .section4-2 .crema {
  width: 218px;
  height: 276px;
  position: absolute;
  top: 30%;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #231304;
}
.contentwrap .section-4 .section4-2 .crema h5 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  position: absolute;
  text-align: center;
  top: -15%;
  left: 14%;
}
.contentwrap .section-4 .section4-2 .crema h4 {
  position: relative;
  top: 6%;
}
.contentwrap .section-4 .section4-2 .crema img {
  width: 60%;
  height: auto;
  position: absolute;
  top: 18%;
  left: 22%;
}
.contentwrap .section-5 {
  position: relative;
  width: 1200px;
  height: 691px;
  background-color: #f8f8f8;
  top: 10.3%;
  border: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;
  cursor: pointer;
}
.contentwrap .section-5 h4 {
  position: absolute;
  top: 15%;
  left: 2%;
  z-index: 3;
}
.contentwrap .section-5 h4 a {
  color: #333;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
}
.contentwrap .section-5 .box {
  width: 1198px;
  height: 428px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrap .section-5 .box .sectionbook {
  width: 362px;
  height: 341px;
  border: none;
  border-bottom: none;
}
.contentwrap .section-5 .box .sectionbook img {
  width: 150px;
  height: 200px;
  border: 1px solid #d8d8d8;
}
.contentwrap .section-5 .box .sectionbook h5 {
  position: absolute;
  top: 85%;
  color: #333;
  cursor: pointer;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 13px;
}
.contentwrap .section-5 .box .sectionbook h5:hover {
  text-decoration: underline;
}
.contentwrap .section-5 .box .sectionbook h6 {
  position: absolute;
  top: 91%;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #999;
}
.contentwrap .section-5 .box .sectionbook h6:nth-of-type(2) {
  position: absolute;
  top: 96%;
  color: #333;
}
.contentwrap .section-5 .box2 {
  width: 1198px;
  height: 198px;
  background-color: #fff;
  border-top: 1px solid #d8d8d8;
  overflow: hidden;
  position: relative;
}
.contentwrap .section-5 .box2 h3 {
  position: absolute;
  top: 25%;
  left: 3%;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
}
.contentwrap .section-5 .box2 h3:hover {
  text-decoration: underline;
}
.contentwrap .section-5 .box2 h5:hover {
  text-decoration: underline;
}
.contentwrap .section-5 .box2 h5 {
  position: absolute;
  top: 45%;
  left: 3%;
  font-weight: normal;
  color: #999;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 13px;
}
.contentwrap .section-5 .box2 .box2list {
  width: 600px;
  height: 198px;
  position: absolute;
  right: 0;
}
.contentwrap .section-5 .box2 .box2list .sectionbooktwo {
  border: none;
  background-color: transparent;
  width: 150px;
  height: 198px;
}
.contentwrap .section-5 .box2 .box2list .sectionbooktwo img {
  width: 80.72px;
  height: 120px;
  border: 1px solid #d8d8d8;
}
.contentwrap .section-5 .box2 .box2list .sectionbooktwo h6 {
  position: absolute;
  font-size: 10px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  top: 85%;
  color: #333;
  font-weight: normal;
}
.contentwrap .section-5 ul {
  display: flex;
  justify-content: center;
}
.contentwrap .section-5 ul li {
  position: relative;
  width: 150px;
  height: 62px;
  background-color: #fff;
  text-align: center;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentwrap .section-5 ul li a {
  position: absolute;
  top: 70%;
  color: #333;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
}
.contentwrap .section-5 ul .sectionlist:nth-of-type(8) {
  border-right: none;
}
.contentwrap .section-5 ul .sectionlist:nth-child(n+2):nth-child(-n+8) {
  border-bottom: 1px solid #d8d8d8;
  background-color: #f8f8f8;
}
.contentwrap .section-5 .section-5icon {
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 5;
}
.contentwrap .section-5 .section-5icon div {
  display: flex;
}
.contentwrap .section-5 .section-5icon div img {
  width: 50px;
  height: 40px;
  margin: 0 50px;
}
.contentwrap .section-7 {
  position: relative;
  width: 1200px;
  height: 613px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  top: 10.8%;
  overflow: hidden;
}
.contentwrap .section-7 h3 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
}
.contentwrap .section-7 h3 a {
  color: #333;
  position: relative;
  top: 20px;
  left: 37%;
  z-index: 2;
}
.contentwrap .section-7 .h3-2 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
}
.contentwrap .section-7 .h3-2 a {
  color: #333;
  position: relative;
  top: 310px;
  left: 37%;
  z-index: 2;
}
.contentwrap .section-7 .box2 {
  width: 780px;
  height: 306px;
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrap .section-7 .box2 .boxwrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentwrap .section-7 .box2 .boxwrap .booksix {
  margin: 0 10px;
  position: relative;
  top: 15px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.contentwrap .section-7 .box2 .boxwrap .booksix img {
  width: 100px;
  height: 150px;
  border: 1px solid #c1c1c1;
}
.contentwrap .section-7 .box2 .boxwrap h3 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
}
.contentwrap .section-7 .box2 .boxwrap h3 a {
  color: #333;
  position: relative;
  top: -7%;
  left: 60%;
}
.contentwrap .section-7 .box {
  width: 780px;
  height: 306px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}
.contentwrap .section-7 .box .boxwrap {
  display: flex;
}
.contentwrap .section-7 .box .boxwrap .book6 {
  margin: 0 10px;
  position: relative;
  top: 15px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.contentwrap .section-7 .box .boxwrap .book6 img {
  width: 120px;
  height: 150px;
  border: 1px solid #c1c1c1;
}
.contentwrap .section-7 .section7 {
  width: 419px;
  height: 615px;
  border-right: 1px solid #d8d8d8;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  top: -6%;
}
.contentwrap .section-7 .section7 span {
  font-size: 13px;
  position: absolute;
  top: 10%;
  margin: 0 10px;
}
.contentwrap .section-7 .section7 h3 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  position: absolute;
  top: 0%;
  left: -4%;
  font-size: 17px;
}
.contentwrap .section-7 .section7 h3 a {
  color: #333;
}
.contentwrap .section-7 .section7 .book7 {
  width: 358px;
  height: 140px;
  position: absolute;
  top: 10%;
  display: flex;
  overflow: hidden;
}
.contentwrap .section-7 .section7 .book7 img {
  width: 26.8%;
}
.contentwrap .section-7 .section7 .book7 h5 {
  position: absolute;
  top: 70%;
  left: 29%;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #333;
}
.contentwrap .section-7 .section7 .book7 h6 {
  position: absolute;
  top: 85%;
  left: 29%;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #333;
}
.contentwrap .section-7 .section7 .book7 h3 {
  position: absolute;
  top: 8%;
  left: 29%;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #333;
  font-size: 15px;
}
.contentwrap .section-7 .section7 .book7-2 {
  width: 358px;
  height: 358px;
  background-color: #333;
  position: absolute;
  top: 36%;
  overflow: hidden;
  border: 1px solid #c2c2c2;
}
.contentwrap .section-7 .section7 .book7-2 ul li img {
  width: 100%;
}
.contentwrap .bottombanner {
  position: relative;
  width: 1200px;
  height: 75px;
  background-color: red;
  top: 11.3%;
  overflow: hidden;
}
.contentwrap .bottombanner .p {
  position: absolute;
  top: 17px;
  left: 0;
  width: 34px;
  height: 38px;
  text-align: center;
  letter-spacing: 6px;
  background-image: url(/img/icon.png);
  cursor: pointer;
  display: none;
}
.contentwrap .bottombanner .n {
  right: 0;
  width: 34px;
  height: 38px;
  letter-spacing: -5px;
  background-image: url(/img/icon.png);
  transform: rotate(180deg);
  position: absolute;
  top: 17px;
  cursor: pointer;
  display: none;
}
.contentwrap .bottombanner .bannerslide {
  width: 2400px;
}
.contentwrap .bottombanner .bannerslide li {
  width: 1200px;
  height: 75px;
  float: left;
}
.contentwrap .bottombanner .bannerslide li a img {
  width: 100%;
  height: 100%;
}
.contentwrap .section-8 {
  position: relative;
  width: 1200px;
  height: 240px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  top: 11.9%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.contentwrap .section-8 h2 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  position: absolute;
  top: 0;
  margin: 20px;
}
.contentwrap .section-8 .wrap {
  margin: 0 20px;
  width: 720px;
  height: 155px;
  position: absolute;
  top: 25%;
  left: -1%;
}
.contentwrap .section-8 .wrap .section8ul {
  width: 160px;
  height: 155px;
  float: left;
  margin: 0 10px;
}
.contentwrap .section-8 .wrap .section8ul h5 {
  width: 160px;
  height: 30px;
  background-color: #666;
  color: #fff;
  font-weight: bold;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrap .section-8 .wrap .section8ul ul li a {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
}
.contentwrap .section-8 .wrap .section8ul a:hover {
  text-decoration: underline;
}
.contentwrap .section-8 .wrap .section8ulimg {
  position: absolute;
  top: -2%;
  left: 76%;
}
.contentwrap .section-8 .section8r {
  width: 238px;
  height: 240px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  position: absolute;
  right: 21%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrap .section-8 .section8r h2 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}
.contentwrap .section-8 .section8r h2 a {
  color: #333;
}
.contentwrap .section-8 .section8r h2 span {
  font-size: 12px;
}
.contentwrap .section-8 .section8r img {
  position: absolute;
  top: 28%;
}
.contentwrap .section-8 .section8r-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contentwrap .section-8 .section8r-2 .book8 {
  width: 255px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 0;
  right: -372%;
  border-top: 1px solid #dfdfdf;
  cursor: pointer;
}
.contentwrap .section-8 .section8r-2 .book8 h5 {
  position: absolute;
  top: 52%;
  left: 15%;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #333;
}
.contentwrap .section-8 .section8r-2 .book8 h6 {
  position: absolute;
  top: 67%;
  left: 15.5%;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #333;
}
.contentwrap .section-8 .section8r-2 .book8 img {
  width: 25%;
  height: auto;
  position: absolute;
  top: 47%;
  right: 14%;
}
.contentwrap .section-8 .section8r-2 .book8:nth-of-type(2) img {
  width: 25%;
  height: auto;
  position: absolute;
  top: 6%;
  right: 14%;
}
.contentwrap .section-8 .section8r-2 .book8:nth-of-type(2) h5 {
  position: absolute;
  top: 12%;
  left: 15%;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #333;
}
.contentwrap .section-8 .section8r-2 .book8:nth-of-type(2) h6 {
  position: absolute;
  top: 27%;
  left: 15.5%;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #333;
}
.contentwrap .bottombanner-2 {
  position: relative;
  width: 1200px;
  height: 80px;
  background-color: #f8f8f8;
  top: 12.3%;
  display: flex;
  align-items: center;
}
.contentwrap .bottombanner-2 h4 {
  width: 90px;
  height: 34px;
  color: #333;
  position: absolute;
  top: 35.5%;
  left: 2%;
}
.contentwrap .bottombanner-2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  position: absolute;
  left: 3%;
}
.contentwrap .bottombanner-2 ul li a {
  margin: 0 15px;
  color: #666;
  position: relative;
  left: 20%;
}
.contentwrap .bottombanner-2 ul li a span {
  font-size: 11px;
  color: #999;
}
.contentwrap .bottombanner-2 ul li:hover a {
  text-decoration-line: underline;
}
.contentwrap .bottombanner-3 {
  position: relative;
  width: 1200px;
  height: 80px;
  background-color: #f8f8f8;
  border: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  top: 12.5%;
  overflow: hidden;
  display: flex;
}
.contentwrap .bottombanner-3 .bottomadd {
  width: 600px;
  height: 80px;
  background-color: #f8f8f8;
  position: absolute;
}
.contentwrap .bottombanner-3 .bottomadd img {
  width: 100%;
  height: auto;
}
.contentwrap .bottombanner-3 .bottomadd2 {
  width: 600px;
  height: 80px;
  background-color: #f8f8f8;
  position: absolute;
  right: 0;
}
.contentwrap .bottombanner-3 .bottomadd2 img {
  width: 100%;
  height: auto;
}

.section-banner {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #646464;
  top: 157%;
  background: url(../img/bannerimg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 337px;
  background-color: #dfdfdf;
  border-top: solid 1px #cbcbcb;
  overflow: hidden;
}
footer .footerwrap {
  width: 100%;
  margin: 0 auto;
  height: 43px;
  align-items: center;
  border-bottom: solid 1px #cbcbcb;
}
footer .footerwrap select {
  width: 100px;
  height: 24px;
  font-size: 11px;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  text-align: center;
  background-color: #eaeaea;
  border: 1px solid #c1c1c1;
  background-color: #eaeaea;
  background-repeat: no-repeat;
  background-position: 100% center;
  position: absolute;
  top: 23%;
  right: 25.5%;
  color: #666;
  border-radius: 3px;
}
footer .footerwrap select:focus {
  border: 1px solid #c1c1c1;
  outline: none;
}
footer .ulli {
  width: 960px;
  height: 43px;
  position: relative;
  margin: 0 auto;
}
footer .ulli ul {
  display: flex;
}
footer .ulli li {
  margin-top: 10px;
}
footer .ulli li span {
  font-size: 8px;
  margin: 0 6px;
}
footer .ulli a {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
}
footer .ulli a b {
  color: #333;
}
footer .ulli a:hover {
  text-decoration: underline;
}
footer .ulli:nth-of-type(2) {
  width: 50px;
  position: absolute;
  top: -1%;
  right: 27%;
}
footer .ulli:nth-of-type(2) ul li a img {
  position: relative;
  left: -132px;
  margin: 0 -3px;
}
footer .footerline {
  width: 100%;
  height: 43px;
  background-color: #dfdfdf;
  position: relative;
}
footer .footerline .footer-2 {
  width: 960px;
  height: 148px;
  margin: 0 auto;
  position: relative;
  top: 3%;
}
footer .footerline .footer-2 .footertexttwo {
  position: absolute;
  width: 400px;
  position: absolute;
  right: -10%;
  top: 13%;
}
footer .footerline .footer-2 .footertexttwo .buttonbox {
  position: absolute;
  top: 75px;
  left: -1px;
}
footer .footerline .footer-2 .footertexttwo h4 {
  letter-spacing: 5px;
}
footer .footerline .footer-2 .footertexttwo ul {
  display: flex;
}
footer .footerline .footer-2 .footertexttwo li {
  color: #666;
  line-height: 20px;
  margin: 0 5px;
  position: relative;
  right: 1.3%;
}
footer .footerline .footer-2 .footertexttwo span {
  font-size: 12px;
  color: #333;
  font-weight: bold;
}
footer .footerline .footer-2 .footertexttwo span:hover {
  text-decoration: underline;
}
footer .footerline .footer-2 .footertexttwo button {
  width: 88px;
  height: 22px;
  font-size: 11px;
  color: #666;
  background-color: #f8f8f8;
  border-radius: 2px;
  border: 1px solid #cacaca;
  cursor: pointer;
}
footer .footerline .footer-2 .footertexttwo button:hover {
  background-color: #d8d8d8;
}
footer .footerline .footer-2 .footertext {
  width: 418px;
  position: absolute;
  top: 23px;
  left: 158px;
  line-height: 18px;
}
footer .footerline .footer-2 img {
  position: absolute;
  top: 5%;
}
footer .footerline .footer-2 h4 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  color: #999;
  position: relative;
  top: -7px;
  font-size: 14px;
  font-weight: bold;
}
footer .footerline .footer-2 ul {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 11px;
  color: #999;
}
footer .footerline .footer-2 ul span a {
  color: #666;
  font-weight: bold;
}
footer .footerline .footer-2 a:hover {
  text-decoration: underline;
}
footer .footerline .footer-3 {
  width: 960px;
  height: 88px;
  margin: 0 auto;
  position: relative;
  top: 3%;
  background: url(/img/footerlogo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
footer .footerline .footer-4 {
  width: 960px;
  height: 57px;
  margin: 0 auto;
  position: relative;
  top: 3%;
  display: flex;
  align-items: center;
}
footer .footerline .footer-4 h6 {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}
footer .footerline .footer-4 p {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  margin: 0 6px;
}
footer .footerline .footer-4 span a {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 11px;
  position: absolute;
  top: 36%;
  right: 4%;
  color: #666;
  font-weight: bold;
}
footer .footerline .footer-4 span a:hover {
  text-decoration: underline;
}