@charset 'utf-8';

@mixin liacolor {
    color: #fff;
}

@mixin fontfamliy {
    font-family: '맑은 고딕', 'Malgun Gothic', Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

@mixin font {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
}

@mixin border {
    border: 1px solid #d8d8d8;
    ;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;

}
header {
    width: 100%;
    height: 194px;
    background: url(../img/headerbackground.png);
    background-repeat: repeat-x;
    border-bottom: 1px solid #0080ff;
    display: flex;
    justify-content: center;

    .headertop {
        width: 1200px;
        height: 191px;
        display: flex;
        justify-content: space-between;

        .headertop-l {
            ul {
                width: 582px;
                height: 38px;
                background-color: #0080ff;
                display: flex;
                align-items: center;
                justify-content: space-around;
                @include fontfamliy();
                font-weight: bold;

                li a {
                    @include liacolor();
                    font-size: 14px;
                    letter-spacing: -1px;
                }
            }

        }

        .headertop-r {

            ul {
                width: 280px;
                height: 32px;
                margin-top: 2px;
                display: flex;
                justify-content: space-between;
                font-family: '돋움', Dotum, Helvetica, AppleSDGothicNeo, sans-serif;
                align-items: center;

                li a {
                    @include liacolor();
                    font-size: 11px;

                }
            }

        }
    }

    .headerbottom {
        h2 {
            width: 110px;
            height: 43px;
            background-color: #0080ff;
            position: absolute;
            top: 15.6%;
            left: 18.5%;
            font-size: 13px;
            @include font();
            text-align: center;

            a {
                position: relative;
                top: 12px;
                color: white;
            }
        }

        ul {
            display: flex;
            position: absolute;
            top: 16.9%;
            left: 24.7%;
            font-size: 13px;
            @include font();
            text-align: center;

            li a {
                color: #0080ff;
                margin: 0px 5px;
                font-weight: bold;
            }
        }

        h5 {
            position: absolute;
            top: 16.9%;
            left: 38.6%;
            font-size: 11px;
            @include font();
            text-align: center;
            color: #ccc;
        }

        .ultwo {
            display: flex;
            position: absolute;
            top: 16.9%;
            left: 39.1%;
            font-size: 13px;
            @include font();
            text-align: center;

            li a {
                color: #000;
                margin: 0px 5px;
            }
        }

        .ulthree {
            display: flex;
            position: absolute;
            top: 16.9%;
            left: 62.2%;
            font-size: 13px;
            @include font();
            text-align: center;

            li a {
                color: #666;
                font-weight: lighter;
                margin: 0px 5px;
            }
        }

    }

    .logo {
        width: 265px;
        height: 103px;
        position: relative;
        top: 0;
        left: 0;
        position: absolute;
        top: 4.2%;
        left: 18.8%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        
        a{ width: 265px;
            height: 103px;
            position: relative;
            top: 0;
            left: 0;
            position: absolute;
            top: 4.2%;
            left: 18.8%;
            display: flex;
            justify-content: center;
            cursor: pointer;}

    }

    .search {
        width: 505px;
        height: 48px;
        position: absolute;
        top: 7.2%;
        left: 33%;
        border: 2px solid #0080ff;
        border-radius: 3px;
        overflow: hidden;

        input {
            width: 430px;
            height: 48px;
            border: none;
            margin: 0 0 0 17px;
            font-size: 18px;
            color: #000;
            @include font();
            font-weight: bold;
        }

        input:focus {
            outline: none;
        }

        button {
            width: 60px;
            height: 48px;
            background: url(https://image.yes24.com/sysimage/renew/gnb/gnbN4.png?ver=161201b);
            background-repeat: no-repeat;
            border: none;
            position: absolute;
            cursor: pointer;
        }

    }

    .headerslide {
        width: 180px;
        height: 112px;
        position: absolute;
        top: 3.9%;
        right: 18.7%;
        overflow: hidden;

        span{
            position: absolute;
            @include font(); font-size: 12px;
            color: #666;
            font-weight: bold;
            left: 40%;
            top: 40%;
        }
        
        img{width: 60px; height: 85px; 
            position: absolute; top: 10%;}
    }

}


footer {
    width: 100%;
    height: 337px;
    background-color: #dfdfdf;
    border-top: solid 1px #cbcbcb;
    overflow: hidden;


    .footerwrap {
        width: 100%;
        margin: 0 auto;
        height: 43px;
        // display: flex;
        align-items: center;
        border-bottom: solid 1px #cbcbcb;



        select {
            width: 100px;
            height: 24px;
            font-size: 11px;
            @include font();
            text-align: center;
            background-color: #eaeaea;
            border: 1px solid #c1c1c1;
            background-color: #eaeaea;
            background-repeat: no-repeat;
            background-position: 100% center;
            position: absolute;
            top: 23%;
            right: 25.5%;
            color: #666;
            border-radius: 3px;

        }

        select:focus {
            border: 1px solid #c1c1c1;
            outline: none;
        }

    }

    .ulli {
        width: 960px;
        height: 43px;
        position: relative;
        margin: 0 auto;

        ul {
            display: flex;


        }

        li {
            margin-top: 10px;

            span {
                font-size: 8px;
                margin: 0 6px
            }
        }

        a {
            @include font();
            font-size: 12px;
            color: #666;

            b {
                color: #333;
            }
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .ulli:nth-of-type(2) {
        width: 50px;
        position: absolute;
        top: -1%;
        right: 27%;

        ul li a img {
            position: relative;
            left: -132px;
            margin: 0 -3px;
        }
    }

    .footerline {
        width: 100%;
        height: 43px;
        background-color: #dfdfdf;
        position: relative;


        .footer-2 {
            width: 960px;
            height: 148px;
            margin: 0 auto;
            position: relative;
            top: 3%;

            .footertexttwo{

                position: absolute;
    width: 400px;
    position: absolute;
    right: -10%;
    top: 13%;

    .buttonbox{position: absolute; top: 75px; left: -1px;}

    h4{letter-spacing: 5px;}
    ul{display: flex;}
    li{color: #666; line-height: 20px; margin: 0 5px; position: relative; right: 1.3%;}
    span{font-size: 12px; color: #333; font-weight: bold;}
    span:hover{text-decoration: underline;}

    button{width: 88px; height: 22px; font-size: 11px; color: #666; background-color: #f8f8f8; border-radius: 2px; border: 1px solid #cacaca; cursor: pointer;}
    button:hover{background-color: #d8d8d8;}
}
                 

            .footertext {
                width: 418px;
                position: absolute;
                top: 23px;
                left: 158px;
                line-height: 18px;
            }

            

            img {
                position: absolute;
                top: 5%;
            }

            h4 {
                @include font();
                color: #999;
                position: relative;
                top: -7px;
                font-size: 14px;
                font-weight: bold;
            }

            ul {
                @include font();
                font-size: 11px;
                color: #999;

                span a {
                    color: #666;
                    font-weight: bold;
                }
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .footer-3 {
            width: 960px;
            height: 88px;
            margin: 0 auto;
            position: relative;
            top: 3%;
            
            background: url(/img/footerlogo.png);
            background-repeat: no-repeat;
            background-size: contain;
        }

        .footer-4 {
            width: 960px;
            height: 57px;
            margin: 0 auto;
            position: relative;
            top: 3%;
            display: flex;
            align-items: center;

            h6 {
                @include font();
                font-size: 12px;
                color: #333;
            }

            p {
                @include font();
                font-size: 11px;
                color: #666;
                margin: 0 6px;
            }

            span a {
                @include font();
                font-size: 11px;
                position: absolute;
                top: 36%;
                right: 4%;
                color: #666;
                font-weight: bold;
            }

            span a:hover {
                text-decoration: underline;
            }
        }

    }
}

